<div class="post-entry">
      <a href="#">
        <img src={{info.image}} alt="Image" class="img-fluid">
      </a>
      <div class="caption">
        <div class="caption-inner">
          <h3 class="mb-3">{{info.tilte}}</h3>
          <div class="author d-flex align-items-center">
            <div class="img mb-2 mr-3">
              <img src={{info.avatar}} alt="">
            </div>
            <div class="text">
              <h4>{{info.Finame}}</h4>
              <span>{{info.date}} &bullet; Sports</span>
            </div>
          </div>
        </div>
      </div> 
    </div>
  
