<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Tel</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <tr *ngFor="let u of usersTab">
        <td>{{u.id}}</td>
        <td>{{u.firstName}}</td>
        <td>{{u.lastName}}</td>
        <td>{{u.email}}</td>
        <td>{{u.tel}}</td>
        <td>
          <button class="btn btn-info"(click)="display()" >Display</button>
          <button class="btn btn-warning" (click)="goToEdit()" >Edit</button>
          <button class="btn btn-danger"(click)="delete(u.id)" >Delete</button>
        </td>
      </tr>
    </tbody>
  </table>



