
<div class="team-1 w-50 col-6">
    <div class="team-details w-100 text-center">
      <img src="assets/images/logo_1.png" alt="Image" class="img-fluid">
      <h3>LA LEGA </h3>
      <ul class="list-unstyled">
        <li> <img src={{obj.img}} alt="" style="width: 350px;height: 350px;"></li>
        <li>Name : {{obj.Name}}</li>
        <li>Owner : {{obj.owner}}</li>
        <li>Formation : {{obj.formation}}</li>
        <li>Foundation : {{obj.foundation}}</li>
        
      </ul>
    </div>
  </div>